@model List<ResultUserDto>
@{
    ViewData["Title"] = "Kullanıcı Listesi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        <th>Roller</th>
        <th>Rol Ata</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;

        <tr>
            <td>@count</td>
            <td>@item.FullName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>
                @foreach (var role in item.Roles)
                {
                    string badgeClass = ""; // Varsayılan renk sınıfı
                    switch (role)
                    {
                        case "Admin":
                            badgeClass = "bg-danger"; // Kırmızı
                            break;
                        case "Manager":
                            badgeClass = "bg-info"; // Mavi
                            break;
                        case "User":
                            badgeClass = "bg-success"; // Yeşil
                            break;
                        default:
                            badgeClass = "bg-secondary"; // Gri (bilinmeyen roller için)
                            break;
                    }
                    <span class="badge @badgeClass me-1">@role</span>
                }
            </td>

            <td><a asp-action="AssignRole" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pen"></i> Rol Ata</a></td>
        </tr>
    }
</table>