@model Booking
@{
    ViewData["Title"] = "RentDetails";
    Layout = "~/Areas/User/Views/UserLayout/Layout.cshtml";
}

<style>
    .car-image {
        max-width: 400px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

        .car-image:hover {
            transform: scale(1.05);
        }
</style>

<h4 class="text-center">
    <img class="car-image" src="@Model.Car.ImageUrl" alt="Araba Resmi" />
</h4>

<label><strong>Araç Adı: </strong>@(string.Join(" ", Model.Car.Brand.BrandName, Model.Car.ModelName))</label>

<br />

@if (Model.IsApproved == true)
{
    <label><strong>Onay Durumu: </strong>Onaylandı</label>
}
else if (Model.IsApproved == null)
{
    <label><strong>Onay Durumu: </strong>Onay Bekliyor</label>
}
else if (Model.IsApproved == false)
{
    <label><strong>Onay Durumu: </strong>Reddedildi</label>
}

<br />

<label><strong>Kira Başlangıç Tarihi: </strong>@Model.PickUpDate.ToShortDateString()</label>

<br />

<label><strong>Kira Bitiş Tarihi: </strong>@Model.DropOffDate.ToShortDateString()</label>

<br />

<label><strong>Aracı Alacağınız Konum: </strong>@Model.PickUpLocation</label>

<br />

<label><strong>Aracı Teslim Edeceğiniz Konum: </strong>@Model.DropOffLocation</label>

<br />

<label><strong>Günlük Kira Ücreti: </strong>@Model.Price₺</label>

<br />

<label><strong>Toplam Ödeyeceğiniz Ücret: </strong>@Model.PriceTimesBookingDays₺</label>

<br />

<label><strong>Kiralanan Gün Sayısı: </strong>@(Model.PriceTimesBookingDays / Model.Price)</label>
<br />
<a asp-action="DeleteBooking" onclick="confirmDelete(@Model.BookingId)" asp-route-id="@Model.BookingId" class="btn btn-danger">Sil</a>
<br />
<span class="text-danger">@TempData["ApprovedDeleteError"]</span>



   
