@using Cental.DTOLayer.CarDtos
@model CreateCarDto
@{
    ViewData["Title"] = "Manager Araba Ekleme Sayfası";
    Layout = "~/Areas/Manager/Views/ManagerLayout/Index.cshtml";
}





<form method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-6">



            <label>Araba Modeli</label>
            <input type="text" asp-for="ModelName" class="form-control" />
            <span asp-validation-for="ModelName" class="text-danger"></span>
            <br />

            <label>Araba Görseli</label>
            <input type="file" asp-for="ImageFile" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
            @if (ViewBag.WrongType != null)
            {
                <span class="text-danger">@ViewBag.WrongType</span>
            }
            <br />

            <label>Model Yılı</label>
            <input type="number" asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>

            <br />

            <label>Kiralama Bedeli</label>
            <input type="number" asp-for=Price class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>


            <br />

            <label>Koltuk Sayısı</label>
            <input type="number" asp-for="SeatCount" class="form-control" />
            <span asp-validation-for="SeatCount" class="text-danger"></span>

        </div>
        <div class="col-lg-6">

            <label>Kilometre Bilgisi</label>
            <input type="number" asp-for="Kilometer" class="form-control" />
            <span asp-validation-for="Kilometer" class="text-danger"></span>


            <br />

            <label>Marka</label>
            <select asp-items="@ViewBag.brands" name="BrandId" class="form-control">
                <option disabled selected>Markayı Seçiniz</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>


            <br />

            <label>Yakıt Türü</label>
            <select asp-items="@ViewBag.gasTypes" name="GasType" class="form-control">
                <option disabled selected>Yakıt Türünü Seçiniz</option>
            </select>
            <span asp-validation-for="GasType" class="text-danger"></span>

            <br />

            <label>Vites Türü</label>
            <select asp-items="@ViewBag.gearTypes" name="GearType" class="form-control">
                <option disabled selected>Vites Türünü Seçiniz</option>
            </select>
            <span asp-validation-for="GearType" class="text-danger"></span>

            <br />
            <label>Vites Özelliği</label>
            <select asp-items="@ViewBag.transmissionTypes" name="Transmission" class="form-control">
                <option disabled selected>Vites Özelliğini Seçiniz</option>
            </select>
            <span asp-validation-for="Transmission" class="text-danger"></span>
            <input type="hidden" asp-for="Transmission" />
            <input type="hidden" asp-for="GasType" />
            <input type="hidden" asp-for="GearType" />
            <input type="hidden" asp-for="BrandId" />
        </div>
    </div>
    <br />
    <button class="btn btn-success"><i class="fa fa-save"></i></button>

</form>

