@model List<Car>
@{
    ViewData["Title"] = "Manager Araba Ekleme Sayfası";
    Layout = "~/Areas/Manager/Views/ManagerLayout/Index.cshtml";
    int count = 0;
}

@if (TempData["ZeroError"] != null)
{
    <h2>@TempData["ZeroError"]</h2>
    <a asp-action="CreateCar" asp-controller="ManagerCar" asp-area="Manager" class="btn btn-primary">Araba Ekle</a>
}
else
{
    <h4>@Model.Select(x => string.Join(" ", x.User.FirstName, x.User.LastName)).First() Kullanıcısının Sahip Olduğu Arabalar</h4>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Resim</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Yıl</th>
            <th>Fiyat</th>
            <th>Rol</th>
            <th>Sahip</th>
            <th>Kiralayan Kişi</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Araç Detayları</th>
            <th>Kira Detayları</th>
            <th>Gelen Yorumlar</th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.IsApproved == true)
            {
                count++;
            }

            <tr>
                <td>@count</td>
                <td><img src="@item.ImageUrl" style="width:70px;height:50px;" /></td>
                <td>@item.Brand.BrandName</td>
                <td>@item.ModelName</td>
                <td>@item.Year</td>
                <td>@item.Price</td>
                <td>@item.Role.Name</td>
                <td>@string.Join(" ", item.User.FirstName, item.User.LastName)</td>
                <td>@(item.IsApproved == true ? TempData[count.ToString()] : "Henüz Kiralanmadı")</td>
                <td>@(item.IsApproved == true ? "Kiralandı" : "Kiralanmadı")</td>
                <td><a asp-action="DeleteCar" asp-controller="ManagerCar" asp-area="Manager" asp-route-id="@item.CarId" class="btn btn-danger">Sil</a></td>
                <td><a asp-action="UpdateCar" asp-route-id="@item.CarId" class="btn btn-info"><i class="fa fa-pen"></i></a></td>
                <td style="text-align: center;"><a asp-action="VehicleDetails" asp-route-id="@item.CarId" class="btn btn-warning"><i class="fa fa-search"></i></a></td>
                <td><a asp-action="RentState" asp-route-id="@item.CarId" class="btn btn-success">Detaylar</a></td>
                <td><a asp-action="CarReviews" class="btn btn-secondary" asp-route-id="@item.CarId">Yorumlar</a></td>
            </tr>
        }
    </table>
    <div>
        <span class="text-danger">@TempData["RentedCarError"]</span>
        <br />
        <a asp-action="CreateCar" asp-controller="ManagerCar" asp-area="Manager" class="btn btn-primary">Araba Ekle</a>

    </div>
}